<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Todo Detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../../../../../../screen/src/main/resources/public/css/styles.css" type="text/css"
          th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="../../../../../../screen/src/main/resources/public/css/theme/green.css" type="text/css"
          th:href="@{${#themes.code('styleSheet')}}"/>
</head>
<body>

<div class="container">

    <h1>Todo Detail</h1>

    <div id="todoDetail">
        <div>
            <span>Title</span>:<span th:text="${todo.todoTitle}">Create Sample Application</span>
        </div>
        <div>
            <span>finished</span>:<span th:text="${todo.finished ? 'Yes' : 'No'}">No</span>
        </div>
        <div>
            <span>Deadline Date</span>:<span th:text="${todo.deadlineDate != null ? todo.deadlineDate : '-'}">-</span>
        </div>
        <div>
            <span>Create Date</span>:<span th:text="${todo.createdAt}">2016-02-14T12:51:03.058</span>
        </div>
        <form action="list.html" method="post" style="display: inline-block;"
              th:action="@{/todos/{todoId}(todoId=${todo.todoId})}" th:if="${not todo.finished}">
            <button name="finish" class="btn btn-default">Finish</button>
        </form>
        <form action="list.html" method="post" style="display: inline-block;"
              th:action="@{/todos/{todoId}(todoId=${todo.todoId})}">
            <button name="delete" class="btn btn-default">Delete</button>
        </form>
    </div>

    <hr/>

    <a href="../home.html" th:href="@{/}" class="btn btn-default">Home</a>
    <a href="list.html" th:href="@{/todos}" class="btn btn-default">Todo List</a>

</div>
</body>
</html>