# For IntelliJ IDEA
.idea
*.iml
target

# For Spring Tool Suite(Eclipse)
.project
.classpath
.settings
.apt_generated
.factorypath

# For Others
.DS_Store

/application*.yml

SqsCredentials.properties
