<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Todo Detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../../../../../../screen/src/main/resources/public/css/styles.css" type="text/css"
          th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" href="../../../../../../screen/src/main/resources/public/css/theme/green.css" type="text/css"
          th:href="@{${#themes.code('styleSheet')}}"/>
</head>
<body>

<div class="container">

    <h1>Todo Detail</h1>

    <div id="todoDetail" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Title</label>

            <div class="col-sm-10"><p class="form-control-static" th:text="${todo.todoTitle}">Create Sample
                Application</p></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Finished</label>

            <div class="col-sm-10"><p class="form-control-static" th:text="${todo.finished ? 'Yes' : 'No'}">No</p></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Deadline Date</label>

            <div class="col-sm-10"><p class="form-control-static"
                                      th:text="${todo.deadlineDate != null ? todo.deadlineDate : '-'}">-</p></div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Create Date</label>

            <div class="col-sm-10"><p class="form-control-static" th:text="${todo.createdAt}">
                2016-02-14T12:51:03.058</p></div>
        </div>
        <div class="form-group">
            <span class="col-sm-2"></span>

            <div class="col-sm-10">
                <form action="list.html" method="post" style="display: inline-block;"
                      th:action="@{/todos/{todoId}(todoId=${todo.todoId})}" th:if="${not todo.finished}">
                    <button name="finish" class="btn btn-default">Finish</button>
                </form>
                <form action="list.html" method="post" style="display: inline-block;"
                      th:action="@{/todos/{todoId}(todoId=${todo.todoId})}">
                    <button name="delete" class="btn btn-default">Delete</button>
                </form>
            </div>
        </div>
    </div>

    <hr/>

    <a href="../home.html" th:href="@{/}" class="btn btn-default">Home</a>
    <a href="list.html" th:href="@{/todos}" class="btn btn-default">Todo List</a>

</div>
</body>
</html>