<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../../../../sample-screen/src/main/resources/public/styles.css" type="text/css"
          th:href="@{/styles.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" type="text/css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}"/>
</head>

<body>

<div class="container">

    <h1 id="message" th:text="#{screen.welcome}">Welcome!!</h1>

    <a href="todo/list.html" th:href="@{/todos}" class="btn btn-default">Todo List</a>

    <hr/>
    <form method="post" style="display: inline-block;"
          th:action="@{/logout}" sec:authorize="isAuthenticated()">
        <button class="btn btn-default">Logout</button>
    </form>
    <a th:href="@{/login}" sec:authorize="!isAuthenticated()" class="btn btn-default">Login</a>

</div>
</body>

</html>